
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.nav-area {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 30px;
    margin-right: 155px;
}

.nav-area li {
    display: inline-block;
}

.nav-area li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 16px;
    text-transform: uppercase;
}

.nav-area li a:hover {
    background: #fff;
    color: #333;
}

.about {
    color: #fff;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 200px;
}

main {
    padding-top: 50px;
    padding-left: 200px;
    color: #fff;
}
.header {

    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    color: #fff;
    padding: 20px;
    text-align: left;
  }
  
  .header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
.box{
    color: rgb(18, 75, 75);
}
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2rem;
  }
  
  .footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
  }
  
  .footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
  }
  
  .footer .box-container .box a i {
    padding-right: .5rem;
    color: var(--green);
  }
  
  .footer .box-container .box a:hover i {
    padding-right: 2rem;
  }
  
  .footer .credit {
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color: var(--light-color);
    border-top: .1rem solid rgba(0, 0, 0, .1);
  }
  
  .footer .credit span {
    color: var(--green);
  }
